VITE_SUPABASE_URL=https://bfpwjtdhpxakarsjyklh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmcHdqdGRocHhha2Fyc2p5a2xoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5ODk2NTAsImV4cCI6MjEwNTU2NTY1MH0.lkrwOcej-nkAsy2WeHoXRP7czGa1xSvVnxsd7mLDt3U
